.profile-container {
  background-image: url('../public/background.jpg'); /* Adjust the path */
  background-size: cover;
  background-position: center;
}

.profile-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-header {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.header-img {
  width: 100%;
  height: auto;
}

.profile-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

hr {
  margin: 6px;
}